<p><b>Name: </b><%= @delivery_type.name %></p>

<%= link_to 'Edit', edit_delivery_type_path(@delivery_type), class: 'btn btn-dark' %>
<%= link_to 'Back', delivery_types_path, class: 'btn btn-dark' %>
